.PlanCard-Primary {
  display: grid;
  grid-gap: 15px;
  border-radius: 5px;
  background-color: #6f73df;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 10px;
}
.PlanCard-Primary h1,
.PlanCard-Primary h2,
.PlanCard-Primary p {
  color: white;
  margin: 0;
  text-align: center;
}
.PlanCard-Primary hr {
  margin: 0;
  border: 1px solid #c4c4c4;
}

.PlanCard-Secondary {
  display: grid;
  grid-gap: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.PlanCard-Secondary h1,
.PlanCard-Secondary h2,
.PlanCard-Secondary p {
  color: #70728d;
  margin: 0;
  text-align: center;
}
.PlanCard-Secondary hr {
  margin: 0;
  border: 1px solid #c4c4c4;
  height: 0;
}
.PlanCard-Link-Primary {
  display: flex;
  justify-content: center;
}
.PlanCard-Link-Primary a {
  text-decoration: none;
  background: #ffffff;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  color: #6f73df;
  width: 100%;
}
.PlanCard-Link-Secondary {
  display: flex;
  justify-content: center;
}
.PlanCard-Link-Secondary a {
  text-decoration: none;
  background: #6f73df;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  color: white;
  width: 100%;
}

.PlanCard-Primary-Cost {
  font-size: 48px;
}
