.ProgressText {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}
.ProgressText p {
  text-align: center;
  margin: 0;
  width: 63px;
  font-size: 14px;
  font-weight: 500;
  color: #70728d;
}
@media screen and (min-width: 768px) {
  .ProgressText {
    margin: 0 28px;
  }
}
@media screen and (min-width: 1024px) {
  .Plans {
    grid-template-columns: auto auto auto;
  }
}
