.SuccessMessage {
  margin: 50px 10px 0 10px;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
}
.SuccessMessage-img {
  display: flex;
  justify-content: center;
}
.SuccessMessage p {
  text-align: center;
  font-size: 18px;
  color: #70728d;
  font-weight: bold;
}
.SuccessMessage p strong {
  color: #6f73df;
}
.SuccessMessage a {
  text-align: center;
  background-color: #6f73df;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
