.Plans {
  margin: 30px 50px 50px 50px;
  display: grid;
  grid-gap: 35px;
}
@media screen and (min-width: 768px) {
  .Plans {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 1024px) {
  .Plans {
    grid-template-columns: auto auto auto;
  }
}
